.card-buttons{ 
  display: flex; 
  justify-content: space-between; 
  margin: 60px 40px;
} 
.text-btn-1{ 
  color: #fff; 
  font-size: 20px;   
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
} 
.text-btn-2{ 
  color: #fff; 
  font-size: 15px;   
  text-align: center;
}
.btn-1{ 
  background-color: rgb(32, 194, 17);
  border-radius: 15px; 
  padding: 20px; 
  cursor: pointer;
}  
.btn-1:hover{ 
  background-color: rgb(37, 163, 26);
} 
.btn-2{ 
  background-color: rgb(14, 60, 211);
  border-radius: 15px; 
  padding: 20px; 
  cursor: pointer;
}  
.btn-2:hover{ 
  background-color: rgb(25, 34, 158);
} 
.btn-3{ 
  background-color: rgb(223, 17, 34);
  border-radius: 15px; 
  padding: 20px; 
  cursor: pointer;
}  
.btn-3:hover{ 
  background-color: rgb(189, 25, 39);
}
